div{
    width: 300px;
    height: 20px;
    border: 2px solid greenyellow;
    position: static; /* default ไม่มีการเปลี่ยนแปลง */
    position: relative; /* มีการเปลี่ยนแปลง อ้างอิงจากตำแหน่งเดิม */
    position: absolute; /* มีการเปลี่ยนแปลง อ้างอิงจากตำแหน่งแรกของ parent */
    position: fixed; /* มันจะfixed อยู่กับที่ตามหน้าจอเวลาเลื่อนลงไป */
    position: sticky; /* มันจะfixed อยู่กับที่ตามหน้าจอเวลาเลื่อนลงไป แต่จะเลื่อนไปตาม parent ที่มันอยู่ */

}